@CHARSET "ISO-8859-1";

body {
	background: #e5e5e5 url('../images/bg.jpg') center center no-repeat fixed;
}

.content-taps {
	width: 1000px;
}

.clear {
	clear: both;
}

.dashboard {
	margin-top: 45px;
}

.logo {
	height: 25px;
}

.avatar {
	height: 160px;
	width: 160px;
	margin-bottom: 10px;
}

.float-right {
	float: right;
}

.header-menu-taps {
	height: 65px;
}

.menu-taps {
	min-height: 660px;
}

.header-taps {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.footer-taps {
    position: relative;
    margin-right: 15px;
    margin-top: -30px;
    
	text-align: right;
	color: #c3c3c3;
	font-family: Calibri;
	font-size: 0.8em;
}