@CHARSET "ISO-8859-1";

body {
	background-color: #e3e3e3;
}

.content-taps {
	width: 100%;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.dashboard {
	margin-top: 45px;
	position: relative;
	left: 300px;
	width: 1000px;
	min-height: 660px;
}

.logo {
	height: 25px;
}

.avatar {
	height: 160px;
	width: 160px;
	margin-bottom: 10px;
}

.float-right {
	float: right;
}

.header-menu-taps {
	height: 65px;
}

.menu-taps {
	min-height: 1000px;
}

.header-taps {
	position: fixed;
	top: 0;
	z-index: 100;
}

.footer-taps {
	margin: 10px auto;
	text-align: center;
	color: #444;
	font-family: Calibri;
	font-size: 0.8em;
}

.span-menu-taps {
	width: 250px;
	position: fixed;
}

.menu-accordion {
	background-color: #262626;
}

.menu-accordion-choosen {
	background-color: #888;
}

.mini-padding {
	padding-left: 20px;
}

.hide {
	display: none;
}

.in-bl {
	display: inline-block;
}

textarea {
	font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica,
		sans-serif;
	font-weight: normal;
	font-style: normal;
	cursor: text;
}

.row-taps {
	padding: 20px;
	padding-top: 0px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.5);
}

.notif-taps {
	float: none;
	margin-left: auto;
	margin-right: auto;
	
.chart-report {
	width: 640px;
	height: 480px;
	background-color: white;
